table{
    text-align: left;
    color: red;
    border-collapse: collapse;
}
table td, table th{
    border: 1px solid red;
    padding: 10px;
    min-width: 50px;
}
img{
    width: 100px;
    height: 100px;
}

td a{
    margin-left: 10px;
}